* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  /* justify-content: center; */
  margin-top: 2em;
  align-items: center;
}
span {
  color: white;
  background-color: blueviolet;
  padding: 3px 10px;
  border-radius: 10px;
}
.wrapContainer {
  display: flex;
  flex-direction: column;
  /* height: 98vh; */
  background-image: radial-gradient(
      circle at 13% 47%,
      rgba(140, 140, 140, 0.03) 0%,
      rgba(140, 140, 140, 0.03) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(143, 143, 143, 0.03) 0%,
      rgba(143, 143, 143, 0.03) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(60, 60, 60, 0.03) 0%,
      rgba(60, 60, 60, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(25, 25, 25, 0.03) 0%,
      rgba(25, 25, 25, 0.03) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.bg {
  height: 20vh;
}
.library {
  font-size: 40px;
}
.welcomeText {
  color: rgba(37, 37, 37, 0.564);
  width: 60%;
}
.getStart {
  font-size: 25px;
  padding-top: 2em;
}
.wrapLoginRegistration,
.afterLogin {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2em;

  padding: 1em;
  border-radius: 10px;
  margin-bottom: 2em;
}
#icon1:hover,
#icon2:hover,
#icon3:hover {
  color: blueviolet;
  cursor: pointer;
  transform: scale(1.2);
}
.loginRegister {
  display: none;
  flex-direction: column;
  gap: 2em;
}
.RegHelp,
.loginHelp {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 0.5em;
}
.title {
  font-size: 20px;
}
.regText,
.logText,
.txt {
  color: rgba(0, 0, 0, 0.677);
}
.regTitle,
.logTitle,
.styletitle {
  font-weight: bold;
}
.main {
  display: none;
  flex-direction: column;
  text-align: justify;
  gap: 2em;
}
.navigationMenu {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.navButton {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.bookText {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
