p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}
.log {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2em;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px 12px;
  margin: 9px 0px;
  border: none;
}
.cont {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 150px;
  margin-left: 500px;
  border-radius: 20px;
  padding-bottom: 40px;
}
.rem {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.me {
  cursor: pointer;
}
.for {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  padding-right: 20px;
  color: rgb(15, 98, 193);
}
button {
  background-color: #04aa6d;
  color: white;
  padding: 10px 20px;
  margin-top: 2em;
  border: none;
  width: 100%;
}
button:hover {
  background-color: #027e50;
  cursor: pointer;
}
.acc {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.dont {
  padding-top: 20px;
}
.reg {
  padding-right: 20px;
  color: rgb(15, 98, 193);
  padding-top: 20px;
}
.reg:hover,
.for:hover {
  color: rgb(240, 19, 19);
  cursor: pointer;
}
.new {
  display: flex;
  justify-content: space-between;
}
.op img {
  height: 300px;
  width: 250px;
  padding-top: 410px;
  padding-right: 260px;
}
.eye {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
i {
  padding-top: 22px;
  position: absolute;
  left: 270px;
  cursor: pointer;
}
