* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.wrap {
  display: flex;
}
.container {
  display: flex;
  background-color: rgba(242, 242, 242, 0.618);
  justify-content: center;
  border-radius: 10px;
  gap: 1em;
  align-items: center;
  width: 100%;
  height: 98vh;
}
.inputClass {
  font-size: 15px;
  border: 0.8px solid rgba(159, 78, 234, 0.748);
  height: 25px;
  width: 90%;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  margin-top: 5px;
}
.inputClass:focus {
  outline: 0.8px solid rgba(137, 43, 226, 0.901);
}
.selectCountry {
  font-size: 15px;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  margin-top: 5px;
  padding: 6px 10px 6px 10px;

  border: 0.8px solid rgba(159, 78, 234, 0.748);
}
.selectCountry:focus {
  outline: 0.8px solid rgba(137, 43, 226, 0.901);
}
.details {
  display: flex;
  gap: 2em;
}
.wrapDetails {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.925);

  border-radius: 10px;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
label {
  text-align: justify;
  font-size: 12px;
  color: rgba(37, 37, 37, 0.75);
  position: absolute;
  background-color: white;
  padding: 2px;
  left: 12px;
}
.left,
.right {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  width: 100%;
  position: relative;
}
.userInfo {
  display: flex;
  flex-direction: column;
}

/* .inputClass {
  width: 90%;

} */

/* align the button */
.imageDetails {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(137, 43, 226, 0.925);
  background-image: radial-gradient(
      circle at 44% 9%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 74%,
      transparent 74%,
      transparent 83%,
      transparent 83%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 23%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 8%,
      transparent 8%,
      transparent 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 87% 35%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 10%,
      transparent 10%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 22% 7%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 16%,
      transparent 16%,
      transparent 88%,
      transparent 88%,
      transparent 100%
    ),
    radial-gradient(
      circle at 37% 26%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 7%,
      transparent 7%,
      transparent 9%,
      transparent 9%,
      transparent 100%
    ),
    radial-gradient(
      circle at 86% 59%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 77%,
      transparent 77%,
      transparent 95%,
      transparent 95%,
      transparent 100%
    ),
    radial-gradient(
      circle at 75% 83%,
      hsla(153, 0%, 47%, 0.05) 0%,
      hsla(153, 0%, 47%, 0.05) 35%,
      transparent 35%,
      transparent 86%,
      transparent 86%,
      transparent 100%
    ),
    linear-gradient(0deg, hsl(279, 0%, 100%), hsl(279, 0%, 100%));
  padding: 1em;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.type {
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.67);
}
.imageType {
  padding-top: 10px;
}
.saveContainer {
  display: flex;
  justify-content: flex-end;
}

.save {
  margin: 10px 15px 0px 0px;
  color: white;
  cursor: pointer;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  background-color: blueviolet;
}

.save:hover {
  background-color: rgba(254, 250, 250, 0.763);
  color: rgb(0, 0, 0);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.3s ease-in-out;
}
