body {
  background-image: radial-gradient(
      circle at 29% 55%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 4%,
      transparent 4%,
      transparent 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 85% 89%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 90%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 53%,
      transparent 53%,
      transparent 64%,
      transparent 64%,
      transparent 100%
    ),
    radial-gradient(
      circle at 35% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 6%,
      transparent 6%,
      transparent 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 75%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 16%,
      transparent 16%,
      transparent 23%,
      transparent 23%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 0%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 3%,
      transparent 3%,
      transparent 26%,
      transparent 26%,
      transparent 100%
    ),
    radial-gradient(
      circle at 29% 28%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 51%,
      transparent 51%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 21%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 35%,
      transparent 35%,
      transparent 55%,
      transparent 55%,
      transparent 100%
    ),
    radial-gradient(
      circle at 65% 91%,
      hsla(329, 0%, 99%, 0.05) 0%,
      hsla(329, 0%, 99%, 0.05) 46%,
      transparent 46%,
      transparent 76%,
      transparent 76%,
      transparent 100%
    ),
    linear-gradient(to top, white 60%, rgb(144, 53, 229) 40%);
  height: 100vh; /* Ensures the gradient covers the full viewport height */
  margin: 0; /* Removes default body margin */
  background-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-image: linear-gradient(white, white);
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5em;
}

img {
  border-radius: 50%;
  height: 170px;
  border: 8px solid white;
  margin: auto;
}
.pfp {
  color: white;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  padding: 1px 4px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}
.userName {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.751);
}
.userID,
.email {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.523);
  padding-top: 4px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.generalwrap,
.securitywrap {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.693);
  margin: 0em 1em 1em 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.general,
.security {
  font-weight: bold;
}
.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.596);
}
.details {
  font-size: 15px;
  font-weight: bold;
}
.text {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.529);
}
