.seeAll {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 1em;
}
.wrap {
  text-align: center;
}
#addBook {
  color: blueviolet;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 20px;
  width: 150px;
  padding: 10px;
}
#addBook:hover {
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
}
span {
  color: white;
  background-color: blueviolet;
  padding: 7px;
  border-radius: 10px;
}
.book-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  padding-top: 30px;
}
.bookCard {
  border: 1.5px solid rgba(0, 0, 0, 0.324);
  width: 180px;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
}
.book {
  width: 180px;
  border-radius: 10px;
  border: 0px solid black;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.at {
  font-weight: bold;
}
.aa {
  color: rgba(0, 0, 0, 0.701);
  font-size: small;
}
.wrapDetails {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.ap {
  /* padding: 20px 0px 5px 0px; */
  align-self: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}
.bookDetails {
  display: flex;
  justify-content: space-between;
}
.wrapTitleAuthor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  text-align: justify;
}
.bookImage img {
  height: 200px;
  width: 160px;
}
.wrapContent {
  width: 30%;
  height: 50%;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* border: 1px solid black; */
  top: 50%;
  left: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transform: translate(-50%, -50%);
}
