body {
  margin: 0em;
  padding: 2em;
  width: 95%;
  height: 100%;
  background-color: gray;
  color: white;
}

.wrap1,
.wrap2 {
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}

.wrap {
  display: flex;
  justify-content: space-between; /* use space-between to ensure items are spaced properly */
  width: 100%;
}
.wrap2 {
  margin-right: 1em;
  font-size: 20px;
}
input[type="text"] {
  padding: 0.6em 0.4em;
  width: 20em;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.791);
}
.photo {
  font-size: 30px;
}
.name {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
.lib {
  color: rgba(255, 255, 255, 0.768);
  font-size: 12px;
  text-align: center;
}
