.wrap {
  display: flex;
  justify-content: space-between;
  /* gap: 10em; */
}
.nav {
  border: 1px solid black;
  align-items: center;
  gap: 20px;
}
.nav a {
  text-decoration: none;
  /* padding: 2em; */
}
img {
  height: 60px;
  width: 70px;
}
