body {
  margin: 0em;
  padding: 0em 0em 0em 1em;
  width: 98%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.logo img {
  width: 80px;
}
.wrap1 {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
.wrap2 {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  gap: 3em;
  padding-top: 1em;
}

input[type="text"] {
  padding: 0.6em 0.4em;
  width: 20em;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.791);
}
.input {
  padding-top: 1em;
}

#dropdownMenu {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  position: absolute;
  background-color: rgba(137, 43, 226, 0.782);
  right: 1em;
}
.menu {
  padding: 10px 15px 10px 15px;
  transition: 0.3s ease-in-out;
}
.menu:hover {
  background-color: rgb(131, 24, 231);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.cross {
  color: white;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  padding: 2px 6px;
  transition: 0.2s ease-in-out;
  text-align: center;
  right: -5px;
  top: -10px;
}
.cross:hover {
  color: white;
  background-color: rgb(197, 0, 0);
  border-radius: 50%;
}
.bell {
  font-size: 30px;
}
.logos {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: larger;
  width: fit-content;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 224, 224, 0.575);
  padding-bottom: 2em;
  width: 100%;
  border-radius: 50px 0px 0px 0px;
  gap: 2em;
}

.container {
  display: flex;
  gap: 1em;
}
.icon {
  padding: 1em;
  text-align: center;
  border-radius: 50px;
}
.icon:hover {
  cursor: pointer;
  background-color: rgba(137, 43, 226, 0.788);
  color: white;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.wrap3 {
  width: 100%;
}
.box {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5em;
}
.userSide {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em 1em;
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
.common {
  padding-top: 1em;
}
.books {
  height: 8em;
  width: 22%;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
span {
  color: blueviolet;
}
.icon2 {
  font-size: larger;
  padding: 1em;
  background-color: rgba(137, 43, 226, 0.788);
  color: white;
  border-radius: 50px;
  text-align: center;
  align-self: center;
}
#time {
  font-size: large;
  color: rgba(0, 0, 0, 0.614);
  font-weight: normal;
}
.lists {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
th {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding: 0.5em;
  height: 2em;
  width: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.602);
  color: rgb(0, 0, 0);
}

.userlist {
  border-radius: 10px;
  background-color: white;
  width: 45%;
  text-align: left;
  padding: 1em;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  font-size: smaller;
  font-weight: normal;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  color: rgba(0, 0, 0, 0.742);
}
.seeAllwrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}
.seeAllUsers {
  font-weight: bold;
  font-size: large;
  color: rgba(137, 43, 226, 0.788);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.seeAllUsers:hover {
  color: white;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.seemore_wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
.seeMore {
  font-weight: bold;
  font-size: large;
  color: rgba(137, 43, 226, 0.788);
  padding: 10px;
  border-radius: 10px;
}

.seeMore:hover {
  color: white;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
#addBook {
  border: none;
  font-weight: bold;
  background-color: white;
  font-size: large;
  color: rgba(137, 43, 226, 0.788);
  padding: 10px;
  border-radius: 10px;
}
#addBook:hover {
  color: white;
  cursor: pointer;
  background-color: blueviolet;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
#myImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1em;
  border: 3px solid black;
}
#myImage:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.userNameAvatar {
  display: flex;
  gap: 12px;
  align-items: center;
  /* justify-content: space-around; */
  /* text-align: justify; */
}
img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid black;
}
