body {
  margin: 0em;
  padding: 2em 0em 2em 2em;
  width: 98%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.wrap1,
.wrap2 {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}

.wrap {
  display: flex;
  justify-content: space-between; /* use space-between to ensure items are spaced properly */
  width: 100%;
}
.wrap2 {
  /* margin-right: 1em; */
  font-size: 20px;
}
input[type="text"] {
  padding: 0.6em 0.4em;
  width: 20em;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.791);
}
.photo {
  font-size: 30px;
  padding-right: 1em;
}
.name {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
.lib {
  color: rgba(255, 255, 255, 0.768);
  font-size: 12px;
  text-align: center;
}
.logos {
  /* padding-top: 5em; */
  display: flex;
  flex-direction: column;
  gap: 4em;
  font-size: larger;
  width: fit-content;
}
.container {
  display: flex;
  /* justify-content: space-around; */
  gap: 2em;
  padding-top: 3em;
}
.userSide {
  /* background-color: rgba(0, 0, 0, 0.705); */
  background-color: rgba(225, 224, 224, 0.575);
  height: 100vh;
  width: 100%;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  gap: 0.4em;
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
span {
  color: red;
}
#time {
  font-size: large;
  color: rgba(0, 0, 0, 0.614);
  font-weight: normal;
}
