.seeAll {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 1em;
}
.wrap {
  text-align: center;
}
#addBook {
  color: blueviolet;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 20px;
  width: 150px;
  padding: 10px;
}
#addBook:hover {
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
}
span {
  color: white;
  background-color: blueviolet;
  padding: 7px;
  border-radius: 10px;
}
.book-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  padding-top: 30px;
}
.bookCard {
  border: 1px solid black;
  height: 32vh;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}
.book {
  width: 200px;
  border-radius: 10px;
  border: 0px solid black;
}
